/* body */

body {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #d8ecf3;
}

/* some text */

.main_heading {
    text-align: center;
    color: #000000;
    font-weight: 670;
}

.heading_region {
    text-align: center;
    color: #000000;
}

.info1 {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 450;
    /* margin-left: 205px */
    text-align: center;
}

/* region buttons */

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0px 200px;
    justify-items: center;
}


.button_region {
    background-color: #70b3cb;
    border: 1px solid transparent;
    border-radius: .75rem;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    width: 190px;
}
  
.button_region:hover {
/* background-color: #374151; */
background-color: #2e94b9;
}

.button_region.active {
    background-color: #2e94b9;
}

/* some text */

.heading_hour {
    /* margin-left: 205px; */
    color: #000000;
    text-align: center
}

.info2 {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 450;
    /* margin-left: 205px */
    text-align: center
}

/* slider */

.slider_container {
    justify-content: center;
    display:flex;
    /* margin-left: 197px; */
    padding-bottom: 20px;
    padding-top: 10px;
}

.slider {
    /* --value: 0; */
    appearance: none; 
    width: 300px; 
    height: 25px; 
    background: #70b3cb ; 
    outline: none; 
    border-radius: 50px;
}

.slider::-webkit-slider-runnable-track {
    height: 100%;
    background: linear-gradient(to right, #2e94b9 0%, #2e94b9 calc(var(--value) * 100% + 4px), transparent calc(var(--value) * 100% + 4px), transparent 100%);
    border-radius: 50px;
}
  

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #FFFFFF; 
    cursor: pointer;

}

#selectedTime {
    width: 30px;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.125rem;
    font-weight: 600;
    margin-left: 20px 

}

#timeRange {
    width: 500px;
}

.main_button {
  appearance: none;
  justify-content: center;
  display:flex;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 30px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  
}

.main_button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.main_button:active {
  box-shadow: none;
  transform: translateY(0);
}

/* clock */

.clock {
height: 50px;
color: rgb(0, 0, 0);
font-size: 5vh;
font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
line-height: 9vh;
display: flex;
position: fixed; 
top: 20px; 
left: 20px; 
z-index: 1000; 
overflow: hidden;
vertical-align: middle;
}

.clock > div {
display: flex;
}

.tick {
line-height: 9vh;
}


/* navigation bar */

.menu {
    position: relative; 
    z-index: 102;
}

.menu .overlay-text {
    position: fixed;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    z-index: 101;
    pointer-events: none;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    width: 100%; 
    height: 100%;
    top: 50%;
    left: 50%;
    margin-top: 100px;
}

.menu .overlay-text2 {
    position: fixed;
    font-weight: 450;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    z-index: 101;
    pointer-events: none;
    display: none;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; 
    height: 100%;
    top: 50%;
    left: 50%;
    margin-top: 170px;
}

.menu.active .overlay-text {
    display: block;
}

.menu.active .overlay-text2 {
    display: block;
}

.nav-tgl {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    right: 30px;
    top: 30px;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background: #fff;
    box-shadow: 0px 4px 24px rgba(#000, 0.24);
    line-height: 0.6;
    text-align: center;
	

	> span {
		display: inline-block;
		position: relative;
		height: 2px;
		width: 34px;
		border-radius: 1px;
		background: #293335;
		vertical-align: middle;
		

        &:before, &:after {
            display: inline-block;
            position: absolute;
            content: "";
            height: 2px;
            border-radius: 1px;
            background: #293335;
            transition: all 200ms;
        }
		&:before {
            top: -11px;
			left: 3px;
			width: 28px;
		}
		&:after {
            top: 11px;
            left: 6px;
            width: 22px;
		}
	}
	
	&:focus {outline: none}
	
	&:hover > span:after, &:hover > span:before {
		width: 34px;
		left: 0;
	}
}

.nav:before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    transition: all 500ms ease-in-out;
	clip-path: circle(30px at calc(100% - 65px) 65px);
    visibility: hidden;
}

.menu.active {
	.nav:before {
		visibility: visible;
		clip-path: circle(100%);
	}
	
	.nav-tgl > span {
		height: 0;
		&:after, &:before {
            top: 0px;
			left: 0;
			width: 34px;
		}
		&:after {
            transform: rotate(-45deg);
		}
		&:before {
			transform: rotate(45deg);
		}
	}
}

/* test result */

/* #result {
    font-size: 35px
} */

/* print results */
#selectedRegion {
    font-size: 24px;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bolder;
    text-align: center;
}

#selectedHour {
    font-size: 24px;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bolder;
    text-align: center;
}


#resultProba {
    
    font-size: 24px;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bolder;
    text-align: center;
    color: #2e94b9;
    margin-top: 50px;
    margin-bottom: 60px;
    position: relative;
}

.proba {
    font-size: 60px;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bolder;
    text-align: center;
    color: #2e94b9;
    position: relative;
}