body {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #d8ecf3;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.main-info {   

    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-size: 34px;
}

.info-2 {

    font-weight: 790;
    font-size: large;
    text-align: center;
    color: #2e94b9;
    margin-top: 60px;
}

#typed {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 900;
    text-align: center;
    color: #2e94b9;
}

.start-button {
    appearance: none;
    justify-content: center;
    display:flex;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 30px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;

}

.start-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.start-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.container{
	width: 100%;
    margin: 0 auto;
}

span{
  display: inline-block;
  overflow: hidden;
  animation: .3s swift-up ease-in-out forwards;	
}

i{
  font-style: normal;
    position: relative;
  top: var(--headingSize);
  animation: .5s swift-up ease-in-out forwards;
}

@keyframes swift-up {
  to {
    top: 0;
  }
}

@media screen {
	.container{
		width: auto;
		margin: 0 10%;
	}
	
	:root{
		--headingSize: 34px;
	}
}